/* common */
html{
	font-size:62.5%;
}

._l-header{
	background-color:#000;
	font-weight:bold;
	._p-site-branding{
		padding:.4em 1em .2em;
		text-align:center;
		{myserif}
		font-size:16px;
		font-size:1.6rem;
		font-weight:bold
		a{
			color:#fff;
		}
	}
}

a{
	color:#333;
	text-decoration:none;
}

._p-copyright{
	font-size:10px;
	font-size:.5rem;
}
