/* values */

sm = 640px;
lg = 1400px

mymincho = @block {
	font-family:"ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif
	font-weight:bold
}
myserif = @block {
		font-family: 'Sorts Mill Goudy',serif
}
