/* tags */

._p-tags{
	&__list{
		list-style-type:none;
		overflow:hidden;
		position:relative;
	}
	&__item{
		margin:1px;
		padding:0;
		float:left;
		a{
			display:block;
			border-radius:3px;
			font-size:12px;
			font-size:1.2rem;
			padding:0.5em 0.8em;
			color:#000;
			border:1px solid #ccc;
			transition:.5s;
			&:hover{
				background-color:#fff;
				color:#333;
			}
		}
		&--active{
			a{
				background-color:#fff;
				color:#000;
			}
		}
	}
}
