@charset 'utf-8';

/*!
Theme Name: wg_photo
License: GPLv2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html
Text Domain: wg_photo
Template: mimizuku
*/

@import url(https://fonts.googleapis.com/css?family=Sorts\+Mill\+Goudy);

@import '../../../mimizuku/src/stylus/style4child';

/*
child foundation
*/

@import 'foundation/values';
@import 'foundation/override';

/*
child object/component
*/

@import 'object/component/pjax';
@import 'object/component/spinner';

/*
child object/project
*/

@import 'object/project/p-entry';
@import 'object/project/p-photo-nav';
@import 'object/project/p-overlay';
@import 'object/project/p-comments';
@import 'object/project/p-archive';
@import 'object/project/p-tags';





















