@charset 'utf-8';

/*!
Theme Name: wg_photo
License: GPLv2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html
Text Domain: wg_photo
Template: mimizuku
*/

@import url(https://fonts.googleapis.com/css?family=Sorts\+Mill\+Goudy);

@import '../../../mimizuku/src/stylus/style4child';

sm = 640px;
lg = 1400px

mymincho = @block {
	font-family:"ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif
	font-weight:bold
}
myserif = @block {
		font-family: 'Sorts Mill Goudy',serif
}

/* common */

._l-header{
	._p-site-branding{
		padding:1em;
		text-align:center;
		{myserif}
		font-size:1.5rem;
	}
}

a{
	color:#333;
	text-decoration:none;
}


/* single */

._p-entry{
	&__header{
		text-align:center;
	}
	&__keyvisual{
		display:inline-block;
		position:relative;
		img{
			max-width:100%;
			height:auto;
		}
	}
	&__title{
		position:absolute;
		left:70%;
		top:10%
		@media (max-width: sm) {
				top:20%
		}
		{mymincho}
		font-size:5vw;
		color:#FFF;
		-ms-writing-mode: tb-rl; /* for MS IE8+ */
	    -webkit-writing-mode: vertical-rl;
	    writing-mode: vertical-rl;
		animation-name: anime1;
		animation-duration: 8s;
		animation-timing-function: ease;
		animation-iteration-count: 1;
		animation-fill-mode:forwards;
	}
	&__caption{
		text-align:left;
		position:absolute;
		left:70% + 7vw;
		top:10%
		@media (min-width: lg) {
			left:70% + 8vw;
		}
		@media (max-width: sm) {
				top:20%
		}
		color:#FFF;
		-ms-writing-mode: tb-rl; /* for MS IE8+ */
	    -webkit-writing-mode: vertical-rl;
	    writing-mode: vertical-rl;
		animation-name: anime1;
		animation-duration: 8s;
		animation-timing-function: ease;
		animation-iteration-count: 1;
		animation-fill-mode:forwards;
	}
	&__location{
		{mymincho}
		font-size:2vw;
		@media (min-width: lg) {
			font-size:1.5vw;
		}
		@media (max-width: sm) {
			font-size:3vw;
		}
	}
	&__shooting_date{
		font-size:2vw;
		@media (max-width: sm) {
			font-size:4vw;
		}
		{myserif}
		font-style: normal;
		font-weight: 300;
		line-height:1em;
	}
	&-meta__shooting{
		padding:0.5rem 0;
		font-size:0.5rem;
		text-align:right;
	}
	&-meta{
		font-size:.8rem;
		color:#000;
		&__item{
			a{
				color:#000;
			}
		}
	}
}
._p-globalnav{
	&__list{
		list-style-type:none;
		margin:0;
		padding:0;
		text-align:center;
	}
	&__item{
		display:inline-block;
		a{
			display:block;
			padding:2rem;
			font-size:2rem;
			line-height:1em;
		}
		a[href=""]{
			i{
				opacity:0;
				pointer-events:none;
			}
		}
	}
}

._p-overlay{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgba(0,0,0,.9);
	display:none;
	&--active{
		display:block;
	}
	&__close{
		text-align:center;
		padding:1rem;
	}
	&__closebtn{
		font-size:5rem;
		color:#FFF;
	}
}



._p-comments{
	&__title{
		{myserif}
		font-size:1.6rem;
		font-weight:normal;
	}
	.comment-reply-title{
		font-size:1rem;
	}

}


@keyframes anime1 {
	0% {opacity:0;
		text-shadow:0 0 3px #000;
	}
	100% {opacity:1;
		text-shadow:0 0 3px #000;
	}
}


/* archive */

._p-archive__title{
	{mymincho}
	font-weight:normal;
	font-size:1rem;
	text-align:center;
	margin:1em;
	@media (max-width: sm) {
		font-size:0.8rem;
	}
}

._p-entries{
	margin:auto;
	padding:10px;
	&__item{
		padding:10px;
		margin:0;
	}
}

._p-entry{
	&-summary{
		position:relative;
		&__body{
			position:absolute;
			top:0;
			left:0;
			padding:5px;
			display:flex;
			width:100%;
			height:100%;
			justify-content: center;
			align-items: center;
		}
		&__title{
			{mincho}
			font-size:.5rem;
			color:#FFF;
			text-shadow:0 0 2px #000;
		}
		a{
			img{
				transition:1s;
			}
			&:hover{
				img{
					opacity:.5;
				}
			}
		}
	}
}

._p-copyright{
	font-size:10px;
	font-size:.5rem;
}

